@font-face {
    font-family: 'xirod';
    src: url('../font/xirod.otf') format('opentype');
}
@media (max-width: 768px) {
    .main-container {
        grid-template-columns: 1fr;
    }
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
    color: #ffffff;
    font-family: 'xirod', Arial, sans-serif;
}

.container {
    width: 70%;
    margin: 0 auto;

}

.main-container {
    width: 100%;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    justify-items: stretch;

}

.header {
    padding: 20px;
    height: 125px;
    text-align: center;
    background-color: #87CEEB;
}

/*navbar start*/
nav {
    background-color: #333333;
    margin-bottom: 20px;
    border: #F2A2E8 outset 2px;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    padding: 20px;
    margin: 0 20px;
}

.navbar a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

.navbar a:hover {
    border-radius: 25px;
    background-color: #555555;
    box-shadow: #87CEEB 4px 4px 10px;
    color: #6294ff;
    text-shadow: #000080 4px 4px 10px;
}
/*navbar end*/

.homework {
    perspective: 1000px;
    margin: 40px 0;
    
}
.homework:hover {
    transform: translateY(-12px);
    transition: 0.3s ease;
}

/* Flip Card Container */
.flip-card{
    width: 100%;
    max-width: 500px;
    height: 400px;
    margin: 0 auto;        
}
.flip-card-inner {
    position: relative;
    display: block;
    /*width: 40%;*/
    height: 400px;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.homework:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    backface-visibility: hidden;
    box-shadow: 0 10px 25px rgba(219, 219, 219, 0.678);
    padding: 20px;
    overflow: hidden; 
    display: flex;
    flex-direction: column;
}

/* FRONT oldal */
.flip-card-front {
    background: linear-gradient(135deg, #5600e0, #fda085);
}

.flip-card-front img {
    border: #87CEEB double 2px;
    box-shadow: #555555 4px 4px 10px;
    border-radius: 25px;
    width: 100%;
    margin-top: 10px;
    object-fit: cover; 
}

/* BACK oldal */
.flip-card-back {
    background: linear-gradient(135deg, #4facfe, #00f2fe);
    color: white;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; 
    overflow-y: auto;
    padding: 20px;
}
.flip-card-back p {
    text-align: left;
    padding-top: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.2;
}
/* Flip Card Container end */

.profile-img {
    max-width: 150px;
    margin: 20px 10px;
    border: #F2A2E8 double 2px;
    float: left;
    margin-left: 20px;
    margin-bottom: 10px;
    border-radius: 20px;
}

.kontener::after {
    content: "";
    display: table;
    clear: both;
}

h1 {
    font-size: 42px;
    text-shadow: #000080 2px 2px 10px;
    padding: 20px 0px;
}

h2 {
    margin: 10px;
    padding-bottom: 20px;
    text-align: center;
    color: #ffffff;
    text-shadow: #000080 2px 2px 10px;
}

h3 {
    margin: 10px;
    padding-bottom: 20px;
    text-align: center;
    text-shadow: #000080 2px 2px 10px;
}
a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 20px;
    text-shadow: #000080 4px 4px 10px;
}
.link {
    width: 80%;
    padding: 10px 0px;
    margin: 15px;
    border: #ffffff solid 2px;
    background-color: #728FCE;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.link:hover {
    background-color: #87CEEB;
    color: #000080;
    text-shadow: #000000 4px 4px 10px;
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.link:active {
    background-color: #87CEEB;
    color: #000080;
    text-shadow: #000000 4px 4px 10px;
    transform: scale(0.95);
    transition: transform 0.1s ease;
}
p {
    font-size: 16px;
    line-height: 1.6;
    margin: 10px;
    text-shadow: #000080 2px 2px 10px;

}

.up-img {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 8px;
    right: 20px;

}
.main-container-profile {
    width: 100%;
    margin: 0px auto;
    padding-bottom: 50px;
    

}
.profile {
    background: linear-gradient(135deg, #4facfe, #00f2fe);
    padding: 20px;
    margin-bottom: 20px;
    border: #F2A2E8 inset 2px;
    text-align: left;
    height: 600px;
    overflow-y: auto;
}

.profile p {
    margin: 20px;
    padding-left: 200px;
    text-shadow: #990d9e 2px 2px 10px;
}


footer {
    background-color: #333333;
    text-align: center;
    font-size: 14px;
    border-top: #87CEEB ridge 2px;
    width: 100%;
    padding: 0px;
    position: fixed;
    bottom: 0;
    left: 0;
}