*{
    padding: 0px;
    margin: 0px; 
    box-sizing: border-box;
}
.container{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    border: 2px solid #a52a2a;
    text-align: center;
    background-color: #ffffff;
    color: #555;
    
}   
body{
    background-color: #FFFFD4;
    font-family: "Roboto", sans-serif;
    text-align: center;
}
.header-image{
    width: 100%;
    height: 200px;
    
}
nav{
    background-color: #FF7F2A;
    padding: 20px;
    
}
nav a{
    
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    padding: 5px 20px;
    display: inline-block;

}
nav a:hover{
    background-color: #BF153F;
}

h1{
    padding: 50px;
}
h2{
    padding: 20px;
}
p{
    padding: 20px;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
}
.images{
    width: 30%;
    float: left;
    margin: 10px;
    border: 2px solid #a52a2a;
    border-radius: 25%;
}
.footer{
    width: 100%;
    height: 200px;
    border-top: 2px solid #a52a2a;;
}
.up-img{
    width: 30px;
    height: 30px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    opacity: 0.7;
}
.roboto-<uniquifier> {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}