*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: #f5f5f5;
    color: #333;
}
header{
    background-color: #4CAF50;
    background-image: url(../img/header_1280x.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    padding: 20px;
    text-align: center;
    height: 250px;
}
nav{
    
    background-color: #333;
}
nav ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
}
nav ul li{
    margin: 0 15px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: block;
}
nav ul li a:hover{
    background-color: yellowgreen;
    text-shadow: black 2px 2px 5px;
    border-radius: 25px;
}
nav .active{
    background-color: yellowgreen;
    text-shadow: black 2px 2px 5px;
}
main{
    padding: 20px;
    margin-bottom: 50px;
}
.hero{
    padding: 60px 20px;
    
}
h1{
    margin-bottom: 40px;
    font-size: 50px;
    background-color: #575757d8;
    color: yellow;
    text-shadow: black 4px 4px 12px;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 25px;
}
h2{
    margin-bottom: 24px;
    margin-top: 10px;
    color: #4CAF50;
}
h3{
    margin: 10px;
    color: #333;
}
.btn{
    
    color: #4CAF50;
    text-decoration: none;
}
.btn:hover{
    
    text-shadow: #6cf371 1px 1px 3px;
    font-size: 16px;
}
.hero{
    background-color: rgb(233, 233, 233);
    width: 40%;
    
    display: inline-block;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.product-item{
    margin: 20px;
    display: inline-block;
    width: 30%;
    background-color: white;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.product-item:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease;
}
.product-item img{
    width: 50%;
    margin-top: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.514);
}
.products-intro{
    background-color: rgb(233, 233, 233);
    width: 50%;
    
    display: inline-block;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.price{
    font-weight: bolder;
    font-style: italic ;
    color: #4CAF50;
    margin-top: 6px;
}
.about-us{
    width: 50%;
    display: inline-block;    
    background-color:  rgb(233, 233, 233);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    color: #333;
    padding: 20px;
    margin-top: 40px;
    border-radius: 15px;
}
.about-us p{
    margin: 10px 0;
    line-height: 1.6;
}
.about-us-image{
    width: 100%;
    margin-top: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.514);
}
.contact{
    width: 50%;
    display: inline-block; 
    background-color:  rgb(233, 233, 233);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    color: #333;
    padding: 20px;
    margin-top: 40px;
    border-radius: 15px;
}
.contact p{
    margin: 10px 0;
    line-height: 1.6;
    
}
footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
    bottom: 0;
    position: fixed;
}
