@keyframes slideInRight {
        from {
            transform: translateX(-100%); /* Balról indul */
            opacity: 0;
        }
        to {
            transform: translateX(0); /* Végső hely */
            opacity: 1;
        }
    }
@keyframes slideInLeft {
        from {
            transform: translateX(100%); /* Jobbról indul */
            opacity: 0;
        }
        to {
            transform: translateX(0); /* Végső hely */
            opacity: 1;
        }
    }

body{
    background-color: rgb(170, 255, 170);
    text-align: center;
    font-size: 18px;
    font-family: "Fjalla One", sans-serif;
    cursor: url(../img/petsb.png), auto;
}
nav{
    background-color: rgb(127, 170, 255);
    padding: 10px;
    margin-bottom: 15px;
}
a{
    text-decoration: none;
    color: white;
    margin: 25px;
    text-shadow: 4px 4px 8px rgb(49, 85, 156);
}
a:hover{    
    color: black;
    cursor: url(../img/pets.png), pointer;
}
.container{
    width: 50%;
    border: 1px solid brown;
    margin:  auto;
}
section{
    background-color: white;
    color: rgb(51, 51, 51);
}
h1{
    text-align: center;
    padding-top: 20px;
    text-shadow: 2px 2px 5px grey;
}
p{
    text-align: center;
    margin: 0 50px 15px 50px;
    padding: 10px 5px 10px 5px;
}
.images-dog{
    opacity: 0; /* Kezdetben láthatatlan */
    animation: slideInRight 1.5s ease-out forwards; /* Animáció indítása */
    float: left;
    width: 30%;
    border-radius: 15px;
    margin: 15px;
}
.images-dog-right{
    width: 30%;
    border-radius: 15px;
    float: right;
    margin: 0 15px 15px 15px;
    opacity: 0; /* Kezdetben láthatatlan */
    animation: slideInLeft 1.5s ease-out forwards; /* Animáció indítása */
}
footer{
    background-color: rgb(127, 170, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px; 
    padding: 10px; 
}