* {
  box-sizing: border-box; /* Egységes dobozmodell */
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #c5c3c3;
}
/* Alapbeállítások a teljes oldalhoz */
.holy-grail {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* A láblécet az aljára tolja */
}

/* Mobilon a középső rész is egy oszlop */
.content-area {
  display: flex;
  flex-direction: column;
  flex: 1; /* Kitölti a maradék függőleges helyet */
}
header,footer{
  background-color: #436162;
  padding: 30px;
  color: #fff;
  text-align: center;
}
header{
    min-height: 150px;
    background-image: url(../img/header.jpg);
    background-size: cover;
    background-position: center;
}
header h1 {
    font-size: 2.5em;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    color: #fff;
    font-weight: bold;
    text-align: center;
    align-items: center;
}
nav, aside {
  background-color: #9aa8bd;
  padding: 30px;
  color: #fff;
  border-radius: 25px;
  margin-bottom: 20px; /* Kis hely a navigáció alatt */
  margin-top: 20px; /* Kis hely a navigáció felett */
}

aside{
    display: none; /* Mobilon elrejtjük a jobb oldali oszlopot */
}

/* Navigáció kezdete */
nav {
    text-align: center;  /* Középre igazítja a navigáció szövegét */
}
nav ul {
    list-style: none; /* Eltávolítja a listajelzéseket */
}
nav ul li {
    margin: 10px 0; /* Kis hely a menüpontok között */
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover {
    background-color: #81c8ca;
    color: #436162;
    box-shadow: #436162 0px 0px 10px;
    padding: 5px 10px;
    border-radius: 15px;
    transition: background-color 0.5s, color 0.5s;
}
/* Fő tartalom stílusai */
main {
  background-color: #fff ;
  padding: 30px;
  margin: 5px 0; /* Kis hely a main és a nav között */
  color: #000;
  border-radius: 25px;
}
.hero{
    background-color: antiquewhite;
    height: 120px;
    border-radius: 25px;
    text-align: center;
    padding: 20px; 
        margin-bottom: 20px;
        text-shadow: #a8a8a8 0px 0px 10px;   
}
.hero h2{
    font-size: 1.5em;
    color: #436162;
    font-weight: bold;
    margin-bottom: 10px;
}
.hero p{        
    margin-bottom: 15px;
}
.intro{
    background-color: #9aa8bd;
    color: #fff;
    text-shadow: #000 0px 0px 10px;
    padding: 20px;
    border-radius: 25px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
}
.intro p {
    font-size: 1.2em;
    line-height: 1.2;   
}

.intro .intro-image {
    width: 100%;
    border-radius: 20px;
    display: block;
    margin: 20px auto;
}
.highlights {
    background-color: antiquewhite;
    color: #000;
    text-shadow: #a8a8a8 0px 0px 10px;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
    margin-top: 20px;
}
.highlights h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}
.highlights ul {
    list-style: none;
}
.highlights ul li {
    margin: 5px 0;
}

.cta{
    background-color: #9aa8bd;
    color: #fff;
    text-shadow: #000 0px 0px 10px;
    padding: 20px;
    border-radius: 25px;
    text-align: center;
    margin-top: 20px;
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
}
.cta h3 {
    margin-bottom: 10px;
    font-size: 1.5em;
}
.cta p {
    margin-bottom: 20px;
    font-size: 1.2em;
}
.cta a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #436162;
    color: #fff;
    text-decoration: none;
    border-radius: 15px;
    font-weight: bold;
}
.cta a:hover {
    background-color: #81c8ca;
    color: #436162;
    box-shadow: #436162 0px 0px 10px;
    transition: background-color 0.5s, color 0.5s;
}

.rooms {
    background-color: #9aa8bd;
    color: #fff;
    text-shadow: #000 0px 0px 10px;
    padding: 20px;
    border-radius: 25px;
    text-align: center;
    margin-top: 20px;
}
.rooms h3 {
    font-size: 1.5em;
    margin: 10px 0;
}
.rooms h4 {
    font-size: 1.2em;
    margin-top: 30px;
    margin-bottom: 10px;
}
.rooms ul{
    list-style: none;
  }
.rooms-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin: 20px 0;
}
.standard-rooms {
    background-color: #c5c3c3;
    color: #fff;
    text-shadow: #000 0px 2px 10px;
    padding: 20px;
    border-radius: 25px;
    text-align: center;
    margin-top: 20px;
}
.deluxe-rooms {
    background-color: #c5c3c3;
    color: #fff;
    text-shadow: #000 0px 2px 10px;
    padding: 20px;
    border-radius: 25px;
    text-align: center;
    margin-top: 20px;
}
.family-rooms {
    background-color: #c5c3c3;
    color: #fff;
    text-shadow: #000 0px 2px 10px;
    padding: 20px;
    border-radius: 25px;
    text-align: center;
    margin-top: 20px;
}
.szolgaltatas {
    background-color: antiquewhite;
    color: #000;
    text-shadow: #a8a8a8 0px 0px 10px;
    padding: 20px;
    border-radius: 25px;
    text-align: center;
    margin-top: 20px;
}
.services-gallery {
    display: grid;
    grid-template-columns: 1fr; /* Egy oszlop mobilon */
    gap: 20px;
    margin-top: 30px;
}
.szolgaltatas h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}
.szolgaltatas p {
    font-size: 1.2em;
    line-height: 1.2;
}
.services-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

/* Űrlap stílusok */
form {
    display: flex;
    flex-direction: column;
}
form label {
    margin-top: 10px;
    font-weight: bold;
}
form input, form textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
form input[type="submit"] {
    margin-top: 15px;
    padding: 10px;
    background-color: #4f8162;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
form input[type="submit"]:hover {
    background-color: #436162;
    box-shadow: #436162 0px 0px 10px;
    transition: background-color 0.5s, box-shadow 0.5s;
}
/* Lábléc stílusai */
footer {
    margin-top: auto; /* A láblécet az aljára tolja */
    font-size: 0.8em;
}


/* Asztali nézet (pl. 768px felett) */
@media (min-width: 768px) {
  .content-area {
    flex-direction: row; /* Egymás mellé rakja az oszlopokat */
  }

  main {
    flex: 1; /* Ez az oszlop lesz rugalmas, kitölti a középső részt */
    order: 2; /* A HTML sorrend ellenére középre kerül */
    
  }

  nav {
    width: 170px;
    order: 1; /* Bal oldalra kerül */
    
  }
  .intro {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 10px;
    
    overflow: hidden; /* A lebegő elemek miatt szükséges */
  }
  .intro .intro-image {
    width: 50%;
    display: block;
    margin: 20px 20px;
    float: left;
    
  }
  .intro p {
    margin: 20px 15px;            
  }
  
  .cta {
    width: 60%;   
    margin: 0 auto;
    margin-top: 10px;
  }

  .rooms {
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
  }
  .rooms ul{
    text-align: center;
  }

  .standard-rooms, .deluxe-rooms, .family-rooms {
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    overflow: hidden;  /* A lebegő elemek miatt szükséges */
  }

    .standard-rooms p{
    margin: 30px 15px;
    }
    .deluxe-rooms p{
        margin: 30px 15px;
    }
    .family-rooms p{
        margin: 30px 15px;
    }

  .rooms-image {
    width: 50%;
    display: block;
    margin: 20px 20px;
    float: left;
    
  }
  .services-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .services-gallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Három egyenlő szélességű oszlop */
    gap: 20px; /* Hely a képek között */
    margin-top: 30px; 
  }

  aside {
    width: 200px;
    order: 3; /* Jobb oldalra kerül */
    display: block; /* Asztali nézetben megjelenítjük a jobb oldali oszlopot */
    
  }
}
