@font-face {
    font-family: 'MiddleEarth';
    src: url('../fonts/ringm.ttf') format('truetype');
}
@font-face {
    font-family: "Anirm";
    src: url('../fonts/anirm.ttf') format('truetype');
}
@font-face {
    font-family: "Elvish Ring";
    src: url('../fonts/elvish_ring.ttf') format('truetype');
}
*{
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../img/me_bg_1920x1080.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Anirm', sans-serif;
    color: #FFFFFF;
    text-shadow: rgb(180, 156, 2) 5px 5px 8px;
}
.fejlec{
    width: 100%;
    height: 25px;
    background: #96894270;
    text-align: right;
    position: fixed;
    margin-top: -40px;


}

header{
    margin-top: 40px;
    margin-bottom: 30px;
}

nav{
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    /*background-color: rgba(0, 0, 0, 0.6);*/
    
}
.navimg{
    width: 80%;
    height: 380px;
    display: block;
    margin: auto auto -240px auto;
}

nav a{
    text-decoration: none;
    font-family: 'Elvish Ring', sans-serif;
    font-size: 24px;
    font-weight: 800;
    color: goldenrod;
    text-shadow: #000000 3px 3px 5px;
}

nav a:hover{
    color: orangered;
    text-shadow: #000000 5px 5px 8px;
}

nav li{
    display: inline;
    padding: 0px 12px;
}
nav ul{
    list-style: none;
    margin: 15px ;
    padding: 25px;
}


h1{
    font-family: 'MiddleEarth', sans-serif;
    font-size: 48px;
    color: #FFD700;
    text-align: center;
    margin-top: 20px;
}
h1 a{
    text-decoration: none;
    color: #FFD700;
}
h1 a:hover{
    color: #fde76a;
    text-shadow: #000000 5px 5px 8px;
}
h2{
    font-family: 'Anirm', sans-serif;
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;
    margin: 40px 0 20px 0;
}
p{
    font-family: 'Anirm', sans-serif;
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 10px;
    padding: auto;
}

.content{
    background-color: rgba(0, 0, 0, 0.6);
    margin: auto;
    padding: 20px;
    border-radius: 15px;
    border: 2px solid #000000;
    width: 75%;
    text-align: center;
}
.content ul{
    list-style: none;
    text-align: left;
}
.content-img{
    width: 40%;
    height: auto;
    margin: 20px auto;
    display: block;
    border: 2px solid goldenrod;
    border-radius: 10px;
}
#footer{
    margin-top: 30px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    border-top: 2px solid #000000;
    font-size: 10px;
}
.up-img{
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    opacity: 0.7;
}